@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --primary-font:'Smythe', cursive;
  --secondary-font:Verdana,Geneva,sans-serif;
  --black:#000000;
  --medium-gray:#8B8B8B;
  --white:#FFFFFF;
  --btn-color:#16DB99;
  --add-btn-color:#3C3C3C;
  --add-btn-outline:#DEDEDE;
  --menu-item-divider:#D2D2D2;
  --divider:#393333;
  --remove-text:#BBBBBB;
  --total-text:#0E0E0E;
  --modal-input-text:#757575;
  --completion-text-bg:#ECFDF5;
  --order-complete-text:#065F46;
  --order-complete-bg:#ECFDF5;
  --standard-font-size:16px;
}

body{
  font-size: var(--standard-font-size);
  font-family:var(--primary-font);
  color:var(--black);
}

button{
  all: unset;
}

.hidden{
  display: none;
}

.text-center{
  text-align:center;
}

.push-right{
  margin-left:auto;
}

.red-bg{
  background-color:rgba(255, 0, 0, .5);
  color:darkred;
  padding:5px 5px;
  border-radius:3.89px;
}

.content-container{
  margin:0 24.38px;
}

.--app-app-container{
  margin-bottom:34px;
}

header{
  height:167px;
  background:url('/images/burger-bg.png');
  background-size: cover;
  background-repeat:no-repeat;
  color:var(--white);
}

.--header-text-container{
  display: flex;
  height:167px;
  flex-direction: column;
  justify-content: center;
  padding:24.38px;
}

.--header-title{
  font-size: 20.67px;
  margin-bottom:10px;
}

.--header-desc{
  font-size:11.88px;
  /* padding-left:24.38px; */
}

.--menu-feed{
  padding-bottom:24.38px;
}

.--menu-item-container{
  display:flex;
  justify-content: space-around;
  border-bottom:1px solid var(--menu-item-divider);
  padding-top:24.38px;
}

.item-emoji{
  font-size:1.4rem;
}

.--item-name{
  font-size:14.84px;
  color:var(--black);
}

.--item-ingredients{
  font-size: 8.84px;
  margin-bottom:8px;
  color:var(--medium-gray);
}

.--item-price{
  font-size: 10.6px;
  color:var(--black);
  margin-bottom:27.3px;
}

.--item-add-btn{
  border-radius: 50%;
  border:1px solid var(--add-btn-outline);
  color:var(--add-btn-color);
  padding:10px;
}

.--order-feed{
  padding-bottom: 28.09px;
}

.--order-title{
  font-size:14.84px;
  color:var(--black);
  margin-bottom:33.92px;
}

.--order-item-container{
  display:flex;
  align-items: center;
  gap:10px;
  padding-bottom:16.43px;
  margin-bottom:8px;
}

.--order-btn-remove{
  font-family: var(--secondary-font);
  font-size:12px;
  color:var(--remove-text);
}

#order-item-price{
  margin-bottom:unset;
}

.--total-container{
  display:flex;
  align-items: center;
  gap:10px;
  border-top:1px solid var(--divider);
  padding-top:14px;
  margin-bottom:28.09px;
}

.--order-total{
  font-size:14.84px;
  color:var(--total-text);
}

.--order-amount{
  font-size:10.6px;
  color:var(--total-text);
}

.--restaurant-btn{
  display:block;
  margin:0 auto;
  padding:22px 0;
  width:100%;
  font-family:var(--secondary-font);
  font-size:16px;
  background-color:var(--btn-color);
  color:var(--white);
}

.--modal{
  position: fixed;
  margin:auto;
  top:80px;
  left:0;
  right:0;
  width:310px;
  background-color:var(--white);
  border-radius:3.89px;
  border:1px solid var(--black);
  font-family: var(--secondary-font);
  font-size:24px;
  padding:46px 0px;
}

.modal-content-container{
  margin:0px 23px;
}

.--modal-title{
  margin-bottom:34px;
}

form{
  display:flex;
  flex-direction: column;
}

.--modal-input{
  margin:11.61px 0;
  font-family: var(--secondary-font);
  font-size:20px;
  color:var(--modal-input-text);
  border-radius:3.89px;
  padding:25.5px;
}

.--modal-btn{
  margin-top:34px;
  border-radius:3.89px;
}

.--completion-text{
  background-color: var(--order-complete-bg);
  color:var(--order-complete-text);
  font-size:32px;
  padding:44px 10px;
}

@media screen and (min-width:600px) {
  .--app-app-container{
    max-width:600px;
    margin:0 auto;
  }

  .content-container{
    margin:46px;
  }

  .--header-text-container{
    justify-content: flex-start;
    padding:46px;
  }

  .--header-title{
    font-size:39px;
  }

  .--header-desc{
    font-size: 22.42px;
  }

  .--menu-item-container{
    flex-direction: row;
    justify-content: unset;
    gap:20px;
  }

  .item-emoji{
    font-size:1.8rem;
  }

  .--item-name{
    font-size:28px;
    color:var(--black);
  }

  .--item-ingredients{
    font-size: 16px;
  }

  .--item-price{
    font-size: 20px;
  }

  .--item-btn{
    margin-left:auto;
  }

  .--order-title{
    font-size:28px;
  }

  .--order-total{
    font-size:28px;
  }

  .--order-amount{
    font-size:20px;
  }

  .--modal{
    width:524px;
  }

  .--completion-text{
    padding:44px 0px;
  }
}